@mixin identity($identity) {
    $hue: 180 + ($identity - 1) * 36 * 17;

    $spot-color-header-bg: hsl($hue, 80%, 35%);
    $spot-color-dark: hsl($hue, 70%, 20%);
    $spot-color-page-bg: hsl($hue, 30%, 95%);
    $spot-color-links: hsl($hue, 80%, 30%);
    $spot-color-links-hl: hsl($hue + 45, 100%, 40%);

    body.identity-#{$identity} {
        background-color: $spot-color-page-bg;

        h1, h2, h3, h4, h5, h6 {
            color: $spot-color-dark;
        }

        .row-menu {
            border-bottom: 1px solid $spot-color-dark;
        }

        header {
            text-shadow: 3px 3px 4px $spot-color-dark;

            border-bottom: px solid $spot-color-header-bg;
            background-color: $spot-color-header-bg;
            z-index: $zindex-header;
        }

        a, .btn {
            color: $spot-color-links;

            &.btn-primary {
                color:white;
            }

            &:hover, &:active {
                color:  $spot-color-links-hl;
            }
        }
    }
}

@include identity(1);
@include identity(2);
@include identity(3);
@include identity(4);
@include identity(5);
@include identity(6);
@include identity(7);
@include identity(8);
@include identity(9);
@include identity(10);
