body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    //padding-top: 75px;
}

main {
    padding-top: 50px;
}

.container {
    margin-top: $sticky-header-height-xs;
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    padding-right: 5px;
}

form {
    label {
        padding-top: 6px;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}

div .read-attribute {
    height: 30px;
}

h1, h2, h3,  h4, h5, h6 {
    font-weight: normal;
    //font-family: 'Oleo Script Swash Caps', sans-serif;
    //text-transform: lowercase;
    margin-left: 0;
    padding: 12px 0 12px 0;
}

h1 {
    font-size: 38px;
}

.row {
    & > *:first-child {
        padding-left: 0;
    }

    & > .pull-right {
        padding-right: 1em;
        padding-right: 0;
    }
}

.row-menu {
    a {
        text-transform: uppercase;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.row-personal-details {
    border-bottom: 1px solid lightgray;
    padding: 13px 0 5px 0;
    font-size: 16px;

    .read-attribute {
        padding-left: 1px;
    }
}

.row-buttons {
    padding: 10px 0 10px 0;
}

.text-success {
    padding: 6px;

    .fa-check-circle {
        font-size: 18px;
    }
}

.dialog li {
    text-align: left;
}

.navbar {
    height: 120px;

    .container {
        margin-top: 78px;
    }

    .btn {
        font-size: 16px;
        padding-left: 0px;
    }
}