<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FIMA PDM</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="global/css/base.css"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body ng-app="pdm" ng-controller="pdmPersonalDataCtrl">
		<div id="content" class="offcanvas-content clearfix">
			<header>
				<div class="container-fluid">
                    <div id="dbh-logo"></div>
					<div class="header-title">
						<h1>FIMA PDM</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="container ng-cloak">
			<div class="row row-menu">
                <a class="btn" href="/index.html">Personal data</a>
                <a class="btn" href="/request-data.html">Request data</a>
                <a class="btn" href="/authorize-request.html">Authorize request</a>

                <a class="btn pull-right" ng-click="resetStubs()">Reset</a>
			</div>
			<h3>Personal data</h3>
			<div class="row" ng-repeat="attribute in attributes">
				<!--<form ng-show="editMode">
					<div class="col-xs-4 col-md-2">
						<label for="{{attribute.id}}">{{attribute.name}}</label>
					</div>
					<div class="col-xs-8 col-md-8">
						<div class="form-group">
							<input type="text" class="form-control" id="{{attribute.id}}" value="{{attribute.value}}">
						</div>
					</div>
				</form>-->
				<div ng-hide="editMode" class="read-attribute">
					<div class="col-xs-4 col-md-3">
						<label>{{ attribute.field.caption }}</label>
					</div>
					<div class="col-xs-8 col-md-9">
						<span>{{ attribute.value }}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-md-8 ">
					<!--<button class="btn btn-primary" ng-hide="editMode" ng-click="toggleEditMode()">Edit</button>-->
					<button class="btn btn-primary" ng-show="editMode" ng-click="savePersonalDetails()">Save</button>
					<!--<button class="btn btn-primary" ng-hide="editMode">Share</button>-->
				</div>
			</div>
			<div class="row">
			</div>
		</div>
		<script src="global/js/script.js"></script>
	</body>
</html>

